<?xml version="1.0" encoding="UTF-8"?>
<!--
     Data Security Management System.
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         id="WebApp_ID" version="3.1">
  <display-name>dsms</display-name>
  <welcome-file-list>
  <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
  <servlet>
  <servlet-name>AddBankAction</servlet-name>
  <servlet-class>com.dsms.solutions.tfnecu.web.action.AddBankAction</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AddBankAction</servlet-name>
  <url-pattern>/html/AddBankAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AddBankAction</servlet-name>
  <url-pattern>/AddBankAction</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>dispatcher</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  <servlet-name>dispatcher</servlet-name>
  <url-pattern>*.spring</url-pattern>
  </servlet-mapping>  
  
</web-app>

